<!DOCTYPE html>
<html>
  <head>
    <title>Assess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <div id="user_header">
        <p>
        Welcome to my App
        </p>
        <% if logged_in? %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
           <%= link_to "Sign Up", signup_path %>
           <%= link_to "Log In", login_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
